<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="grs22lkc">
	<link href="../css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Internal Server Error | Academi Gymraeg</title>
</head>
<body>
    <div id="header">
	    <img id="logo" th:src="@{/images/logo.png}" alt="Academi Gymraeg Logo">
	    <a href="/logout" id="logout">Log Out </a>
	</div>

	
	<div id="container">
		<div id="error-container">
			<div id="errorpage">
				<h1>:(</h1>
				<h2>ERROR 500</h2>
				<p>An internal server error has occurred. Please contact an administrator.</p>
				<a href="/home" id="home-button">Return Home</a>
			</div>
		</div>
	</div>	
</body>
</html>