/* Author: grs22lkc, cnb22xdk */

/* GLOBAL CSS (NOT PAGE SPECIFIC) */

body {
	margin: 0px 0px 0px 0px;
	font-family: Arial, Helvetica, sans-serif;
}

#header {
	margin: 0px 0px;
	height: auto;
	background-color: #42797D;
	display: flex;
	justify-content: space-between;
  	flex-direction: row;
}

#logo {
	margin-left: 40px;
}

#logout {
	color: white;
	font-size: 20px;
	margin-right: 40px;
	padding-top: 60px;
   	text-align: right;
}

#nav-bar {
	margin: 0px 0px;
	height: auto;
	background-color: red;
	display: flex;
	justify-content: flex-start;
  	flex-direction: row;
}
#nav-bar a {
	padding: 10px 40px 10px 40px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#container {
	padding: 50px 50px 50px 50px;
}

h1 {
	
}


h2 {
	
}

.table-header {
	background-color: #d9e7ff;
	padding: 5px 10px;
}
th, td {
	padding: 8px 8px 8px 8px;
	text-align: center;
}

a.edit-button {
	color: white;
	background-color: green;
	width: 100px;
	height: auto;
	font-size: 14px;
	padding: 2px 6px 2px 6px;
	text-decoration: none;
	margin-right: 15px;
}
a.delete-button {
	color: white;
	background-color: red;
	width: 100px;
	height: auto;
	font-size: 14px;
	padding: 2px 6px 2px 6px;
	text-decoration: none;
}

.back-link {
      display: inline-block;
      margin-top: 20px;
      background-color: green;
      color: white;
      padding: 10px 30px;
      text-decoration: none;
      font-size: 18px;
      border-radius: 4px;
    }



/* ERROR PAGE SPECIFIC CSS */

#errorpage h1, h2, p {
	width: 600px;
}

#errorpage h1 {
	color: red;
	font-size: 72px;
	font-weight: bold;
	margin-top: 50px;
}

#errorpage h2 {
	color: red;
	font-size: 40px;
	font-weight: bold;
}

#errorpage p {
	font-size: 20px;
	margin-bottom: 50px;
}



/* WELCOME PAGE SPECIFIC CSS */

#welcome-container, #error-container {
	display: flex;
	justify-content: space-around;
  	flex-direction: row;
}

#dragon {
	width: 600px;
}

#welcome p {
	color: red;
	font-size: 40px;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 600px;
}

#welcome a, #errorpage a {
	color: white;
	background-color: green;
	width: 200px;
	height: auto;
	font-size: 25px;
	padding: 8px 48px 8px 48px;
	text-decoration: none;
}


/* LOG IN PAGE SPECIFIC CSS */

#logInGroup input {
	margin-bottom: 14px;
	width: 300px;
}
#logInGroup button {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 300px;
}


/* NOUN ADMIN PAGE SPECIFIC CSS */

#add-noun {
	width: 250px;
	border-style: solid;
 	border-width: 1px;
 	padding: 20px 20px;
}
#add-noun button {
	background-color: green;
	padding: 6px 25px;
	color: white;
	}
#englishnoun {
	margin-bottom: 8px;
	}
#all-nouns table {
	width: 800px;
	border-style: solid;
 	border-width: 1px;
 	
}
#all-nouns table tr:nth-child(even) {
	background-color: #f2f2f2;
	padding: 6px 10px;
	}
#all-nouns table th {
	width: 200px;
}

#top-grid {
	display: flex;
    justify-content: start;
}


#confirmmessageblock {
	color: green;
    align-content: center;
    align-self: anchor-center;
    padding: 1vw;
    margin-left: 10vw;
    font-size: large;
}


/* USER ADMIN PAGE SPECIFIC CSS */
#add-user-container {
	width: 500px;
	border-style: solid;
 	border-width: 1px;
 	padding: 20px 20px;
}
#add-user-container button {
	background-color: green;
	padding: 6px 25px;
	color: white;
	}
	
/* VIEW USERS PAGE SPECIFIC CSS */

#view-users button {
	background-color: green;
	padding: 6px 25px;
	color: white;
	}

#view-users table {
	width: 800px;
	border-style: solid;
 	border-width: 1px;
 	
}
#view-users table tr:nth-child(even) {
	background-color: #f2f2f2;
	padding: 6px 10px;
	}
#view-users table th {
	width: 200px;
}	

/* VIEW TEST RESULTS PAGE SPECIFIC CSS */

#view-results button {
	background-color: green;
	padding: 6px 25px;
	color: white;
	}

#view-results table {
	width: 1000px;
	border-style: solid;
 	border-width: 1px;
 	
}
#view-results table tr:nth-child(even) {
	background-color: #f2f2f2;
	padding: 6px 10px;
	}
#view-results table th {
	width: 300px;
}	