<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="jcj23xfb, grs22lkc">
	<link href="../css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Academi Gymraeg | Home</title>
</head>
<body>
    <div id="header">
	    <img id="logo" th:src="@{/images/logo.png}" alt="Academi Gymraeg Logo">
	    <a href="/logout" id="logout">Log Out </a>
	</div>
	<div id="nav-bar">
		<a href="/home" id="nav-link-home" th:style="'color: red; background-color: white'">Welcome</a>
		<a href="/test" id="nav-link-test">Take Test</a>
		<a href="/viewResults" id="nav-link-results">View Results</a>
		<a href="/viewusers" id="nav-link-viewusers">View Users</a>
    	<a href="/addUser" id="nav-link-users">User Admin</a>
    	<a href="/noun" id="nav-link-nouns">Noun Admin</a>	

	</div>
	
	<div id="container">
		<div id="welcome-container">
			<img id="dragon" th:src="@{/images/dragon.png}" alt="Image of cartoon style dragon">
			<div id="welcome">
				<p>Welcome FORENAME!</p>
				<a href="/test" id="take-test-button">Take Test</a>
			</div>
		</div>
	</div>	
</body>
</html>