<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="ptg22svs, grs22lkc">
	<link href="../css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
    <title>Academi Gymraeg | Noun Admin</title>
</head>
<body>
	<div id="header">
	    <img id="logo" th:src="@{/images/logo.png}" alt="Academi Gymraeg Logo">
	    <a href="/noun" id="cancel">Cancel </a>
	</div>
	
	<div id="container">
	
    <h1>Noun Admin</h1>
	
	<h2>Edit Noun</h2>
	<div id="add-noun">
		<form th:action="@{/noun/editnoun}" method="POST" th:object="${noun}">
		<input type="hidden" id="id" th:field="*{nounId}"><br>
			<div>
			<label for="englishnoun">English noun: </label>
			<input type="text" id="englishnoun" th:field="*{englishNoun}"><br>
			<th:block th:each="e : ${#fields.errors('englishNoun')}">
				<span style="color: red"><th:block
						th:text="${e}"></th:block></span>
				<br />
			</th:block>
			<label for="welshnoun">Welsh noun: </label>
			<input type="text" id="welshnoun" th:field="*{welshNoun}"><br>		
			<th:block th:each="e : ${#fields.errors('welshNoun')}">
				<span style="color: red"><th:block
						th:text="${e}"></th:block></span>
				<br />
			</th:block>	
			</div><br>
			<div>
			<th:block th:each="g : ${genders}">
				<label th:text="${g}"></label>
				<input type="radio" th:field="*{gender}" th:value="${g}"><br>
				<th:block th:each="e : ${#fields.errors('gender')}">
				<span style="color: red"><th:block
						th:text="${e}"></th:block></span>
				<br />
			</th:block>
			</th:block>
			</div><br><br>
			
			<button type="submit">Save changes</button>
		</form>
	</div>
		
	<br><br>
	<a href="/noun">Cancel </a>
	</div>
</body>
</html>
